<tr id="<%= dom_id(page) %>">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
    <%= page.title.titleize %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= page.link_label %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= page.navigation %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <%= page.welcome_content %>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
    <% if !page.welcome_content %>
      <%= link_to page_path(page), class: 'text-indigo-600 hover:text-indigo-900 mr-2', target: '_blank' do %>
        Live
      <% end %>
    <% else %>
      <%= link_to root_path, class: 'text-indigo-600 hover:text-indigo-900 mr-2', target: '_blank' do %>
        Home
      <% end %>
    <% end %>
    <%= link_to edit_admin_page_path(page), class: 'text-indigo-600 hover:text-indigo-900' do %>
      Edit
    <% end %>
  </td>
</tr>
