<div class="sm:flex sm:items-center"  x-data="{ open: false }">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold leading-6 text-gray-800 dark:text-white">Board Members</h1>
    <p class="mt-2 text-sm text-gray-700 dark:text-white">A list of Board Members for Ouray Teacher Fund.</p>
    <div class="mt-8" x-show="open" x-transition>
      <%= render partial: 'shared/user_based_search', locals: { turbo_frame_target: 'board_members_wrapper', model_name: 'BoardMember' } %>
    </div>
  </div>
  <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    <%= link_to 'New Board Member', new_admin_board_member_path, class: "btn-primary" %>
    <a href="javascript:void(0);" class="btn-secondary mt-2" x-on:click="open = ! open">Search</a>
  </div>
</div>
<div id="board_members" class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <%= turbo_frame_tag :board_members_wrapper do %>
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-800 dark:text-white sm:pl-0">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-white">Email</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-white">Role</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
              <% @board_members.each do |board_member| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 dark:text-white sm:pl-0">
                    <%= board_member.name %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-white">
                    <%= board_member.email %>

                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-white">
                    <%= board_member.role %>
                  </td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <%= link_to edit_admin_board_member_path(board_member), class: "text-indigo-600 hover:text-indigo-900" do %>
                      Edit<span class="sr-only">, <%= board_member.name %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
