<div id="<%= dom_id grant_request %>">
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 dark:text-white text-zinc-900">Applicant Information</h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 dark:text-white text-zinc-500">Personal details and application.</p>
  </div>
  <div class="mt-6">
    <dl class="grid grid-cols-1 sm:grid-cols-2">
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 dark:text-zinc-400 text-zinc-900">Full name</dt>
        <dd class="mt-1 text-sm leading-6 dark:text-white text-zinc-700 sm:mt-2"><%= grant_request.applicant_name %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 dark:text-zinc-400 text-zinc-900">Purpose</dt>
        <dd class="mt-1 text-sm leading-6 dark:text-white text-zinc-700 sm:mt-2"><%= grant_request.purpose %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 dark:text-zinc-400 text-zinc-900">Email address</dt>
        <dd class="mt-1 text-sm leading-6 dark:text-white text-zinc-700 sm:mt-2"><%= grant_request.email %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 dark:text-zinc-400 text-zinc-900">Amount Requested</dt>
        <dd class="mt-1 text-sm leading-6 dark:text-white text-zinc-700 sm:mt-2"><%= number_to_currency(grant_request.amount_requested) %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 dark:text-zinc-400 text-zinc-900">Grant</dt>
        <dd class="mt-1 text-sm leading-6 dark:text-white text-zinc-700 sm:mt-2"><%= grant_request.grant_name %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 dark:text-zinc-400 text-zinc-900">Requested for</dt>
        <dd class="mt-1 text-sm leading-6 dark:text-white text-zinc-700 sm:mt-2"><%= grant_request.school_year %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-2 sm:px-0">
        <dt class="text-sm font-medium leading-6 dark:text-white text-zinc-900">Responses</dt>
        <dd class="mt-2 text-sm dark:text-white text-zinc-900">
          <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
            <% grant_request.responses.each do |response| %>
              <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                <div class="flex w-0 flex-1 items-center">
                  <%= heroicon("question-mark-circle", variant: "outline", options: { class: "h-5 w-5 flex-shrink-0 dark:text-white text-zinc-400"}) %>
                  <div class="ml-4 grid grid-cols-1 min-w-0 flex-1 gap-2">
                    <div class="truncate font-medium text-zinc-400"><%= response[0] %></div>
                    <div class="flex-shrink-0 dark:text-white text-zinc-400"><%= response[1] %></div>
                  </div>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <% if action_name.casecmp?("show") %>
                    <%= link_to 'Edit', edit_grant_request_path(grant_request), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
                  <% end %>
                </div>
              </li>
            <% end %>
            <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
              <div class="flex w-0 flex-1 items-center">
                <%= heroicon("question-mark-circle", variant: "outline", options: { class: "h-5 w-5 flex-shrink-0 dark:text-white text-zinc-400"}) %>
                <div class="ml-4 grid grid-cols-1 min-w-0 flex-1 gap-2">
                  <div class="truncate font-medium text-zinc-400">Additional Data</div>
                  <div class="flex-shrink-0 dark:text-white text-zinc-400"><%= grant_request.other_data %></div>
                </div>
              </div>
              <div class="ml-4 flex-shrink-0">
                <% if action_name.casecmp?("show") %>
                  <%= link_to 'Edit', edit_grant_request_path(grant_request), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
                <% end %>
              </div>
            </li>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</div>
