<%# locals: (grant:, preflight_errors:)  %>

<%= form_with(url: preflight_grant_requests_path, class: "contents text-zinc-800 dark:text-white", data: { turbo: false }) do |form| %>
  <%= form.hidden_field :grant_id, value: grant.id %>
  <%= form.hidden_field :school_year, value: current_school_year %>
  <div class="my-5">
    <%= form.text_field :email, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <div class="flex flex-row">
      <%= form.submit 'Get Started', class: "btn-primary mr-2" %>
      <%= link_to 'Back', grant_requests_path, class: "btn-default ml-4" %>
    </div>
  </div>
<% end %>