<tr id="<%= dom_id grant_request %>">
  <td class="pl-4 pr-3 text-left text-sm font-semibold text-gray-800 dark:text-white sm:pl-0 py-3.5">
    <%= grant_request.applicant_name %>
  </td>
  <td class="py-3.5 px-3 text-left text-sm font-semibold text-gray-800 dark:text-white">
    <%= grant_request.school_year %>
  </td>
  <td class="py-3.5 px-3 text-left text-sm font-semibold text-gray-800 dark:text-white">
    <%= number_to_currency(grant_request.amount_requested) %>
  </td>
  <td class="relative pl-3 pr-4 sm:pr-0 py-3.5">
    <%= link_to 'Show', admin_grant_request_path(grant_request), class: "inline-link mr-2" %>
  </td>
</tr>
