<footer class="mt-32">
  <div class="sm:px-8">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="dark:border-zinc-700/40 border-t border-zinc-100 pt-10 pb-16">
        <div class="relative px-4 sm:px-8.lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
              <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200.-mt-12">
                <%= link_to admin_pages_path, class: "relative block px-3 py-2 transition #{controller_name.casecmp?('pages') ? 'text-orange-500 dark:text-orange-400' : 'hover:text-orange-500 dark:hover:text-orange-400'}" do %>
                  Pages
                <% end %>
                <%= link_to admin_board_members_path, class: "relative block px-3 py-2 transition #{controller_name.casecmp?('board_members') ? 'text-orange-500 dark:text-orange-400' : 'hover:text-orange-500 dark:hover:text-orange-400'}" do %>
                  Board
                <% end %>
                <%= link_to admin_donors_path, class: "relative block px-3 py-2 transition #{controller_name.casecmp?('donors') ? 'text-orange-500 dark:text-orange-400' : 'hover:text-orange-500 dark:hover:text-orange-400'}" do %>
                  Donors
                <% end %>
                <%= link_to admin_grant_requests_path, class: "relative block px-3 py-2 transition #{controller_name.casecmp?('applicants') ? 'text-orange-500 dark:text-orange-400' : 'hover:text-orange-500 dark:hover:text-orange-400'}" do %>
                  Grant Requests
                <% end %>
                <%= link_to admin_questions_path, class: "relative block px-3 py-2 transition #{controller_name.casecmp?('questions') ? 'text-orange-500 dark:text-orange-400' : 'hover:text-orange-500 dark:hover:text-orange-400'}" do %>
                  Questions
                <% end %>
                <%= link_to admin_users_path, class: "relative block px-3 py-2 transition #{controller_name.casecmp?('users') ? 'text-orange-500 dark:text-orange-400' : 'hover:text-orange-500 dark:hover:text-orange-400'}" do %>
                  Users
                <% end %>
              </div>
              <p class="text-sm text-zinc-400 dark:text-zinc-500">
                &copy;
                <%= Time.zone.now.year %>
                Ouray Teacher Fund.
                <br/>
                (a) PO Box 1351, Ouray, CO 81427 (p) 970-325-3501
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
