<tr id="<%= dom_id question %>">
  <td>
    <%= truncate(question.question, length: 30) %>
  </td>
  <td>
    <%= question.active %>
  </td>
  <td>
    <%= question.position %>
  </td>
  <td>
    <%= link_to "Show", admin_question_path(question), class: "text-indigo-500 hover:text-orange-500 mr-1" %>
    <%= link_to 'Edit', edit_admin_question_path(question), class: "text-indigo-500 hover:text-orange-500" %>
  </td>
</tr>
