<div>
  <div class="mb-4">
    <h1 class="text-2xl font-bold">Grant: <%= @grant.name %></h1>
    <div class="mt-4 text-sm sm:text-lg text-zinc-800"><%= @grant.details %></div>
    <h2 class="mt-8 text-xl font-bold">
      Questions
    </h2>
    <% @grant.questions.each_with_index do |question, index| %>
      <p class="text-lg text-gray-800">
        <span class="font-bold">
          <%= index + 1 %>.
        </span>
        <%= question %>
      </p>
    <% end %>
    <h2 class="mt-8 text-xl font-bold">
      Requests
    </h2>
    <p class="mt-4">
      There have been
      <%= @grant.grant_requests.size %>
      <%= link_to 'requests', admin_grant_requests_path(grant_id: @grant.id), class: "inline-link" %>
      for this grant.

    </p>
  </div>
  <div class="mt-8 flex flex-row">
    <%= link_to 'Edit', edit_admin_grant_path(@grant), class: "btn-primary mr-2" %>
    <%= button_to 'Destroy', admin_grant_path(@grant), method: :delete, class: "btn-danger mr-2" %>
    <%= link_to "Back", admin_grants_path, class: "btn-default" %>
  </div>
</div>