<tr id="<%= dom_id(user) %>">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-800 dark:text-white sm:pl-0">
    <%= user.name&.titleize %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-white">
    <%= user.email %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-white">
    <%= user.role.titleize %>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
    <%= link_to admin_user_path(user), class: 'text-indigo-600 hover:text-indigo-900 mr-2' do %>
      Show
    <% end %>
    <%= link_to edit_admin_user_path(user), class: 'text-indigo-600 hover:text-indigo-900' do %>
      Edit
    <% end %>
  </td>
</tr>
