<div id="<%= dom_id donation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= donation.amount %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Recurring:</strong>
    <%= donation.recurring %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Thanked:</strong>
    <%= donation.thanked %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Donor:</strong>
    <%= donation.donor_id %>
  </p>
  <% if action_name != "show" %>
    <%= link_to 'Edit this donation', edit_admin_donation_path(donation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6"/>
  <% end %>
</div>
