<%= form_with(model: [:admin, grant_review], class: "contents") do |form| %>
  <%= form.hidden_field :grant_request_id %>
  <%= form.hidden_field :user_id %>
  <% if grant_review.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3" id="error_explanation">
      <h2>
        <%= pluralize(grant_review.errors.count, "error") %>
        prohibited this review from being saved:
      </h2>
      <ul>
        <% grant_review.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.rich_text_area :thoughts, rows: 5, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  <div class="flex justify-end mt-3">
    <%= form.submit "Submit", class: "btn-primary" %>
  </div>
<% end %>