<%= form_with(model: [:admin, donation], class: "contents") do |f| %>
  <% if donation.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3" id="error_explanation">
      <h2>
        <%= pluralize(donation.errors.count, "error") %>
        prohibited this donation from being saved:
      </h2>
      <ul>
        <% donation.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= f.label :donor_id %>
    <%= f.select :donor_id, Donor.order(last_name: :desc), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= f.label :received_on %>
    <%= f.date :received_on, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="flex flex-row">
    <div class="my-5">
      <%= f.label :amount %>
      <%= f.number_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= f.label :recurring %>
      <%= f.check_box :recurring, class: "block mt-2 h-5 w-5" %>
    </div>
    <div class="my-5">
      <%= f.label :thanked %>
      <%= f.check_box :thanked, class: "block mt-2 h-5 w-5" %>
    </div>
  </div>
  <div class="inline">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
