<%= form_with(model: [:admin, donor], class: "contents") do |form| %>
  <%= form.hidden_field :role, value: 'donor' %>
  <% if donor.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3" id="error_explanation">
      <h2>
        <%= pluralize(donor.errors.count, "error") %>
        prohibited this donor from being saved:
      </h2>
      <ul>
        <% donor.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :city %>
    <%= form.text_field :city, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :state %>
    <%= form.select :state, us_states, { selected: 'CO'   }, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :postal %>
    <%= form.text_field :postal, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label 'Web Address' %>
    <%= form.text_field :website, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5 flex">
    <%= form.label 'Show Donor on Website', class: 'mr-4 mt-1' %>
    <%= form.check_box :credit, class: "text-zinc-600 dark:text-zinc-900 block mt-2 h-5 w-5 shadow rounded-md border border-gray-200" %>
  </div>
  <div class="my-5">
    <label for="donor_level">
      Donor Level (based on total donations, which as of now is: <%= number_to_currency(donor.total_donated) %>)
    </label>
    <%= form.select :level, Donor.levels, { selected: donor.level }, class: "text-zinc-600 dark:text-zinc-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <% if action_name.casecmp?('new') %>
    <div class="my-5 flex">
      <%= form.fields_for :donations do |fields| %>
        <%= render partial: 'donation_fields', locals: { fields: fields } %>
      <% end %>
    </div>
  <% end %>
  <div class="inline">
    <div class="flex flex-row">
      <%= form.submit 'Save', class: "btn-primary mr-2" %>
      <%= link_to "Back", admin_donors_path, class: "btn-default" %>
    </div>
  </div>
<% end %>
