<div class="flex mx-auto md:mt-auto mt-12">
  <div class="w-1/2 p-4">
    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white text-gray-800 dark:text-gray-800 shadow sm:max-w-2xl md:max-w-xl">
      <div class="px-4 py-5 sm:px-6">
        <%= @donor.name %>
      </div>
      <div class="px-4 py-5 sm:p-6">
        <p class="mb-8">
          <%= @donor.street_address %>
          <br/>
          <%= "#{@donor.city}, #{@donor.state} #{@donor.postal}" %>
        </p>
        <p class="mb-8">
          Donor Level:
          <br/>
          <%= @donor.level %>
        </p>
        <% if @donor.alumni %>
          <p class="mb-8">
            Alumnni:
            <br/>
            <%= @donor.alumni.to_i.positive? ? 'Yes' : 'No' %>
          </p>
        <% end %>
        <% if @donor.how_heard %>
          <p class="mb-8">
            How Did They Hear About Us?:
            <br/>
            <%= @donor.how_heard %>
          </p>
        <% end %>
        <%= render partial: 'admin/donations/donation_history', locals: { donor: @donor } %>
      </div>
    </div>
  </div>
  <div class="w-1/2 p-4">
    <%= render partial: 'admin/donations/new_donations', locals: { donor: @donor, donation: Donation.new(donor: @donor) } %>
  </div>
</div>
<div class="flex flex-row">
  <%= link_to 'Edit this donor', edit_admin_donor_path(@donor), class: "btn-primary mr-2" %>
  <%= link_to "Back", admin_donors_path, class: "btn-default" %>
</div>
